a {
  text-decoration: none;
  color: black;
}


.title {
  width: 40vw;
  height: auto;
  font-size: 30px;
  margin: 10px auto;
  text-align: center;
  background-color: rgb(153, 177, 213);
  border-radius: 10px;
}

.button {
  width: 10vw;
  text-align: center;
  font-size: 15px;
  border: 2px solid rgb(153, 177, 213);
  border-radius: 10px;
  padding: 5px;
  margin: 0 auto;
}

.button:hover {
  background-color: rgb(199, 219, 249);
}

.button > a:hover {
  color: black;
}

.box-1 {
  
}

.user {
  display: flex;
}

.task {
  width:300px;
  background-color: rgb(153, 177, 213);
  border-radius: 10px;
  margin: 10px auto;
}

.contents {
  width: 250px;
}

.contents > h1, p {
  word-wrap: break-word;
  margin: 0 auto ;
}

#avatar {
  width: 50px;
  border: 1px solid black;
  border-radius: 50%;
}

.box {
  display: flex;
  align-items: center;
}